In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Lecture des données

In [2]:
transactions_101_104 = pd.read_csv('../raw_data/transaction_train_week_101_104.csv')
#101= dernière semaine d'aout
#102= première semaine septembre
#103= deuxième semaine septembre
#104= troisème semaine de septembre (qui nous servira de target dans le cadre du projet)

In [58]:
transactions_101_104.head()

,Unnamed: 0,Unnamed: 0.1,t_dat,customer_id,article_id,price,sales_channel_id
0,0,30665422,101,0000e9a4db2da4e9c68558ad1e7df570d02767b213ec6b...,880553001,0.025407,2
1,1,30665423,101,0000e9a4db2da4e9c68558ad1e7df570d02767b213ec6b...,880553001,0.025407,2
2,2,30665424,101,00047d50bde8751b26aaec7536ccc5fd92828ffa0a396d...,909081004,0.033881,2
3,3,30665425,101,00047d50bde8751b26aaec7536ccc5fd92828ffa0a396d...,516903024,0.025407,2
4,4,30665426,101,00047d50bde8751b26aaec7536ccc5fd92828ffa0a396d...,897679003,0.042356,2

In [3]:
# note du 06042022: à ce stade de l'analyse les customers sans information sur l'âge ne sont pas inclus
S1= pd.read_csv('../raw_data/customers_age_16_17.csv')
S2= pd.read_csv('../raw_data/customers_age_18_19.csv')
S3= pd.read_csv('../raw_data/customers_age_20_21.csv')
S4= pd.read_csv('../raw_data/customers_age_22_23.csv')
S5= pd.read_csv('../raw_data/customers_age_24_25.csv')
S6= pd.read_csv('../raw_data/customers_age_26_27.csv')
S7= pd.read_csv('../raw_data/customers_age_28_29.csv')
S8= pd.read_csv('../raw_data/customers_age_30_34.csv')
S9= pd.read_csv('../raw_data/customers_age_35_39.csv')
S10= pd.read_csv('../raw_data/customers_age_40_44.csv')
S11= pd.read_csv('../raw_data/customers_age_45_49.csv')
S12= pd.read_csv('../raw_data/customers_age_50_54.csv')
S13= pd.read_csv('../raw_data/customers_age_55_59.csv')
S14= pd.read_csv('../raw_data/customers_age_60.csv')

In [4]:
S1.shape, S2.shape, S3.shape, S4.shape, S5.shape, S6.shape, S7.shape, S8.shape, S9.shape, S10.shape, S11.shape, S12.shape, S13.shape, S14.shape

((9553, 8),
 (62030, 8),
 (122726, 8),
 (106736, 8),
 (111113, 8),
 (102792, 8),
 (84991, 8),
 (150520, 8),
 (83548, 8),
 (85493, 8),
 (118625, 8),
 (135326, 8),
 (90916, 8),
 (91750, 8))

In [83]:
S1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9553 entries, 0 to 9552
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  9553 non-null   object
 1   age_id       9553 non-null   int64
dtypes: int64(1), object(1)
memory usage: 149.4+ KB

In [5]:
articles_hetm = pd.read_csv('../raw_data/articles.csv')

# Préparation de la catégorie d'articles

In [ ]:
# partie ci-dessous à transformer en fonction pour ensuite passer en input n'importe quel feature à catégoriser

In [89]:
articles_hetm.shape
articles_hetm=articles_hetm[['article_id','garment_group_name']]
articles_hetm

        article_id garment_group_name
0        108775015       Jersey Basic
1        108775044       Jersey Basic
2        108775051       Jersey Basic
3        110065001  Under-, Nightwear
4        110065002  Under-, Nightwear
...            ...                ...
105537   953450001   Socks and Tights
105538   953763001       Jersey Fancy
105539   956217002       Jersey Fancy
105540   957375001        Accessories
105541   959461001       Jersey Fancy

[105542 rows x 2 columns]

In [90]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse=False) # Instanciate encoder
garment_encoded=ohe.fit_transform(articles_hetm[['garment_group_name']])

In [91]:
garment_encoded

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [92]:
articles_hetm

        article_id garment_group_name
0        108775015       Jersey Basic
1        108775044       Jersey Basic
2        108775051       Jersey Basic
3        110065001  Under-, Nightwear
4        110065002  Under-, Nightwear
...            ...                ...
105537   953450001   Socks and Tights
105538   953763001       Jersey Fancy
105539   956217002       Jersey Fancy
105540   957375001        Accessories
105541   959461001       Jersey Fancy

[105542 rows x 2 columns]

In [67]:
ohe.categories_

[array(['Accessories', 'Blouses', 'Dressed', 'Dresses Ladies',
        'Dresses/Skirts girls', 'Jersey Basic', 'Jersey Fancy', 'Knitwear',
        'Outdoor', 'Shirts', 'Shoes', 'Shorts', 'Skirts',
        'Socks and Tights', 'Special Offers', 'Swimwear', 'Trousers',
        'Trousers Denim', 'Under-, Nightwear', 'Unknown',
        'Woven/Jersey/Knitted mix Baby'], dtype=object)]

In [95]:
art_hetm_encoded

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105537,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
105538,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
105539,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
105540,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
105541,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [116]:
art_hetm_encoded=pd.DataFrame(art_hetm_encoded)
art_hetm_encoded
articles_categories=pd.concat([articles_hetm,art_hetm_encoded], axis=1)

In [117]:
articles_categories

,article_id,garment_group_name,0,1,2,3,4,5,6,7,...,11,12,13,14,15,16,17,18,19,20
0,108775015,Jersey Basic,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,108775044,Jersey Basic,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,108775051,Jersey Basic,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,110065001,"Under-, Nightwear",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,110065002,"Under-, Nightwear",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105537,953450001,Socks and Tights,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
105538,953763001,Jersey Fancy,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
105539,956217002,Jersey Fancy,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
105540,957375001,Accessories,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
105541,959461001,Jersey Fancy,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [101]:
#dummies=pd.get_dummies(articles_hetm.garment_group_name) 
#dummies.shape

In [102]:
#dummies

# Préparation du dataset Transactions

In [6]:
# je garde uniquement la week, le customer id pour le merge, et l'article ID pour récupérer les plus populaires:
transactions_101_104=transactions_101_104.drop(columns=['Unnamed: 0', 'Unnamed: 0.1', 'price', 'sales_channel_id'])

In [66]:
transactions_101_104.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1057905 entries, 0 to 1057904
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   t_dat        1057905 non-null  int64
 1   customer_id  1057905 non-null  object
 2   article_id   1057905 non-null  int64
dtypes: int64(2), object(1)
memory usage: 24.2+ MB

In [7]:
# je crée des dummies par week si jamais plus tard on a besoin de baselines pour d'autres semaines que la 104
article_history=transactions_101_104
article_history['in101']=article_history['t_dat'].apply(lambda x: 1 if x==101 else 0)
article_history['in102']=article_history['t_dat'].apply(lambda x: 1 if x==102 else 0)
article_history['in103']=article_history['t_dat'].apply(lambda x: 1 if x==103 else 0)
article_history['in104']=article_history['t_dat'].apply(lambda x: 1 if x==104 else 0)
article_history

,t_dat,customer_id,article_id,in101,in102,in103,in104
0,101,0000e9a4db2da4e9c68558ad1e7df570d02767b213ec6b...,880553001,1,0,0,0
1,101,0000e9a4db2da4e9c68558ad1e7df570d02767b213ec6b...,880553001,1,0,0,0
2,101,00047d50bde8751b26aaec7536ccc5fd92828ffa0a396d...,909081004,1,0,0,0
3,101,00047d50bde8751b26aaec7536ccc5fd92828ffa0a396d...,516903024,1,0,0,0
4,101,00047d50bde8751b26aaec7536ccc5fd92828ffa0a396d...,897679003,1,0,0,0
...,...,...,...,...,...,...,...
1057900,104,fff4381593e170ca0aea188998487c830d9a4070c9ec4b...,799365001,0,0,0,1
1057901,104,fff7e7674509592818bf453391af43a85eaaac9a52d858...,624486049,0,0,0,1
1057902,104,fff871bf24b40fd1290215414d760afaa69bb164d2b970...,717490010,0,0,0,1
1057903,104,fff871bf24b40fd1290215414d760afaa69bb164d2b970...,717490058,0,0,0,1
1057904,104,fff871bf24b40fd1290215414d760afaa69bb164d2b970...,717490057,0,0,0,1

# Merge des données segments aux données transactions

## section pour essais

### Tests étape par étape

In [274]:
def Baseline_0 (segment,transact_history,week): # exemple: week104name ='in104' dans l'historique des transactions

    week_dummy="in" + f'{week}'
    filtre_week=transact_history[week_dummy]==1
    achats=segment[['customer_id']].merge(transact_history[filtre_week][['customer_id','article_id',week_dummy]])
    articles= achats.groupby(['article_id']).sum()
    Top12_arr=articles.sort_values(by=week_dummy, ascending=False).head(12)
    Top12=""
    for i in range (0, 12):
        if i==0 :
            Top12=str(Top12_arr.index[i])
        else: 
            Top12=Top12 + " "+ str(Top12_arr.index[i])
            
    #je donne à tous mes customers de mon segment le baseline top12 calculée ci-dessus
    segment['Baseline0']=Top12
    
     #je retourne sur leurs achats et je vérifie si l'articleID acheté est dans la TOP12 (1 si oui, O sinon)
    achats['inBaseline0']=achats['article_id'].apply(lambda x: 1 if str(x) in Top12 else 0)
    Baseline0_precision=achats.groupby(['customer_id']).count().drop(columns= ['article_id',week_dummy]).rename(columns={'inBaseline0':'Precision'})
    print("Statistiques concernant le segment:")
    print("Taille du segment : " + f'{len(segment)}')
    print("Nbre d'acheteurs : " + f'{Baseline0_precision.count()}')
    print("Nbre de ref_achetées : " + f'{articles.count()}')
    print("Précision moyenne:" + f'{Baseline0_precision.mean()}')
    
    segment_BS=segment.merge(Baseline0_precision, how = 'left', on='customer_id') 
   
    return segment_BS

In [275]:
#création de la matrice
segment=S1
week_dummy="in104"
filtre_week=transact_history[week_dummy]==1
transact_history=article_history
segment
achats=segment[['customer_id']].merge(transact_history[filtre_week][['customer_id','article_id',week_dummy]])

In [276]:
achats.head(10)

                                         customer_id  article_id  in104
0  002921dfdcb8be4426c555a01cb8a009003db8c7582453...   778064003      1
1  002921dfdcb8be4426c555a01cb8a009003db8c7582453...   889661001      1
2  002921dfdcb8be4426c555a01cb8a009003db8c7582453...   800245011      1
3  002921dfdcb8be4426c555a01cb8a009003db8c7582453...   156231001      1
4  002921dfdcb8be4426c555a01cb8a009003db8c7582453...   156231001      1
5  002921dfdcb8be4426c555a01cb8a009003db8c7582453...   156231001      1
6  002921dfdcb8be4426c555a01cb8a009003db8c7582453...   896064002      1
7  003bb11f4a641d26e321b80c099618b2c1cf26fee040dd...   803757015      1
8  007e780cb863f558bfa9b36b75bb32e1dd4dad12021b73...   803468002      1
9  007e780cb863f558bfa9b36b75bb32e1dd4dad12021b73...   894756001      1

In [277]:
achats.shape

(3222, 3)

In [278]:
articles_categories.shape

(105542, 23)

In [279]:
#matrice segment x client x catégorie
achats_cat=achats.groupby('customer_id',as_index=False).sum()
achats_cat.shape

(1213, 3)

In [280]:
achats_cat.head(10)

                                         customer_id  article_id  in104
0  002921dfdcb8be4426c555a01cb8a009003db8c7582453...  3832727020      7
1  003bb11f4a641d26e321b80c099618b2c1cf26fee040dd...   803757015      1
2  007e780cb863f558bfa9b36b75bb32e1dd4dad12021b73...  3287483011      4
3  00953d607bb9b498cf020c314436b74c54876e1f03739a...   556539001      1
4  00e89fcfb2aa598cfbcc15e4fa0b9e119580bd13fd7bae...   858147001      1
5  0128d14d8915dc903a8a2f2e578e48c34b26e8a851cdad...  1588652013      2
6  0132e908ab2e44ffb299b844996906466b54fa4cf58f4e...  3386411008      4
7  01701efe58afe88d2ea992f94911156198b522e5e9481c...  2522556004      3
8  017a445d2de174b743f43fcfbae818efd799d78d0b5cdf...   682550002      1
9  017d490bdfdb819fbf5ae3ad5bb87465cc34c4a67772ce...   898692006      1

In [281]:
#je fais un groupby par clients, sans le sort car j'ai ensuite besoin de refaire un tri par valeur de in104 derrière et j'ai 
# a nouveau besoin de refaire le tri par client pour cela donc gain de teps de calcul car on suppose que sort_values est plus rapide que le 
# sort de groupby
achats_cat_srt=achats.groupby(['customer_id','garment_group_name'],as_index=False, sort=False).sum().sort_values(by=['customer_id','in104'],ascending=False)
#achats_cat_test
# ffba17c75b0d4cf26a354e23e5935eae167ee2db83bb1628d69e6acb4d965a18 customer id avec 4 achats sur week 104
# cad in104=4

KeyError: 'garment_group_name'

In [206]:
achats_cat_srt

,customer_id,garment_group_name,article_id,in104,0,1,2,3,4,5,...,11,12,13,14,15,16,17,18,19,20
3813,ffec95723bd3cfc50cef76f198716d18e395261f7cd8b1...,"Under-, Nightwear",2596971010,3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0
1054,ffd6bb6d6a33e415467e69d18d28ec9e64061a4f58d67c...,Trousers Denim,1828882010,2,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
3852,ffba17c75b0d4cf26a354e23e5935eae167ee2db83bb16...,Blouses,1567801007,2,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3851,ffba17c75b0d4cf26a354e23e5935eae167ee2db83bb16...,"Under-, Nightwear",846015001,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3853,ffba17c75b0d4cf26a354e23e5935eae167ee2db83bb16...,Accessories,872490001,1,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,002921dfdcb8be4426c555a01cb8a009003db8c7582453...,Trousers,896064002,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
29,001c42459c8978d55a69fa1528975893b011a6539631f3...,Accessories,1770154006,0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,000e3f587242eb077685a487ad27dad632a4801576dfd1...,Shirts,501620049,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,00089f13f465ec902e5c49a3bb408c5e31205096d6f267...,Trousers,926502001,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
0,0006ca2c5ecdbdcc1de5e72adffc6c33448fc2aaa62afe...,Trousers,1145996010,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0

In [207]:
#je supprime les doublons pour garder que la catégorie max d'achats
achats_cat_max=achats_cat_srt.drop_duplicates(subset=['customer_id'],inplace=False)

In [208]:
# Pour chaque client ayant acheté dans la semaien étudiée, j'ai un sa catégorie d'achat majoritaire(ou la première majoritaire
# si doublons, et la qté est stockée dans in 104)
achats_cat_max

,customer_id,garment_group_name,article_id,in104,0,1,2,3,4,5,...,11,12,13,14,15,16,17,18,19,20
3813,ffec95723bd3cfc50cef76f198716d18e395261f7cd8b1...,"Under-, Nightwear",2596971010,3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0
1054,ffd6bb6d6a33e415467e69d18d28ec9e64061a4f58d67c...,Trousers Denim,1828882010,2,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
3852,ffba17c75b0d4cf26a354e23e5935eae167ee2db83bb16...,Blouses,1567801007,2,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1294,ffb52fa9d769c63b309cecf4c6f121c91135cc5b11dee1...,Trousers,606395006,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2982,ff78ed07a0a17b21f3989c263ec48187a36c6b0f1a44d1...,Knitwear,911870003,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40,002921dfdcb8be4426c555a01cb8a009003db8c7582453...,Socks and Tights,468693003,3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,001c42459c8978d55a69fa1528975893b011a6539631f3...,Accessories,1770154006,0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,000e3f587242eb077685a487ad27dad632a4801576dfd1...,Shirts,501620049,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,00089f13f465ec902e5c49a3bb408c5e31205096d6f267...,Trousers,926502001,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
0,0006ca2c5ecdbdcc1de5e72adffc6c33448fc2aaa62afe...,Trousers,1145996010,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0

In [252]:
achats.to_csv('achats_segment1.csv')

In [253]:
achats.shape

(5955, 25)

In [247]:
achats['garment_group_name'].value_counts()

Jersey Basic            1260
Jersey Fancy             863
Trousers                 765
Knitwear                 629
Accessories              563
Under-, Nightwear        530
Blouses                  323
Trousers Denim           320
Socks and Tights         142
Dresses Ladies           105
Outdoor                  105
Dressed                   85
Skirts                    85
Shoes                     53
Swimwear                  47
Shirts                    32
Unknown                   22
Shorts                    16
Special Offers             9
Dresses/Skirts girls       1
Name: garment_group_name, dtype: int64

In [248]:
achats.groupby(['garment_group_name', 'article_id'], sort=False, as_index=False).sum()

,garment_group_name,article_id,in104,0,1,2,3,4,5,6,...,11,12,13,14,15,16,17,18,19,20
0,Trousers,572998001,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
1,Trousers,572998009,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,16.0,0.0,0.0,0.0,0.0
2,Trousers,926502001,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0
3,Shirts,501620049,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Accessories,885077003,8,11.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2496,Blouses,816241004,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2497,Blouses,751560003,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2498,Accessories,872490001,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2499,"Under-, Nightwear",892643001,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2500,"Under-, Nightwear",846181003,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

## Baseline_plus

In [557]:
achats=segment[['customer_id']].merge(transact_history[filtre_week][['customer_id','article_id',week_dummy]]).merge(articles_categories)

In [558]:
achats

,customer_id,article_id,in104,garment_group_name,0,1,2,3,4,5,...,11,12,13,14,15,16,17,18,19,20
0,002921dfdcb8be4426c555a01cb8a009003db8c7582453...,778064003,1,Jersey Basic,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,565694c39a14ef02dbcb9fb84cdf8d90fa14322fb6351a...,778064003,1,Jersey Basic,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,e55c66fab4c2852d2aaeb2ca7e3323346060ca44921492...,778064003,1,Jersey Basic,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,002921dfdcb8be4426c555a01cb8a009003db8c7582453...,889661001,1,Dressed,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,002921dfdcb8be4426c555a01cb8a009003db8c7582453...,800245011,1,"Under-, Nightwear",0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3217,ffba17c75b0d4cf26a354e23e5935eae167ee2db83bb16...,751560003,1,Blouses,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3218,ffba17c75b0d4cf26a354e23e5935eae167ee2db83bb16...,872490001,1,Accessories,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3219,ffd6bb6d6a33e415467e69d18d28ec9e64061a4f58d67c...,914441006,1,Trousers Denim,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3220,ffec95723bd3cfc50cef76f198716d18e395261f7cd8b1...,892643001,1,"Under-, Nightwear",0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3221,ffec95723bd3cfc50cef76f198716d18e395261f7cd8b1...,846181003,1,"Under-, Nightwear",0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [531]:
ohe.categories_

[array(['Accessories', 'Blouses', 'Dressed', 'Dresses Ladies',
        'Dresses/Skirts girls', 'Jersey Basic', 'Jersey Fancy', 'Knitwear',
        'Outdoor', 'Shirts', 'Shoes', 'Shorts', 'Skirts',
        'Socks and Tights', 'Special Offers', 'Swimwear', 'Trousers',
        'Trousers Denim', 'Under-, Nightwear', 'Unknown',
        'Woven/Jersey/Knitted mix Baby'], dtype=object)]

In [647]:
#Cette méthode doit être appelée après avoir calculer le dictionnaire des Top12 par cat

def Baseline_plus (segment,transact_history,X_week, y_week): # exemple: week104name ='in104' dans l'historique des transactions
    
    X_week_dummy="in" + f'{X_week}'
    y_week_dummy="in" + f'{y_week}'
    
    filtre_Xweek=transact_history[X_week_dummy]==1
    filtre_yweek=transact_history[y_week_dummy]==1
   
    #je récupère les catégories, ici les dummies serviront pour une étape ultérieure (ex filtrage collaboratif etc)
    X_achats=segment[['customer_id']].merge(transact_history[filtre_Xweek][['customer_id','article_id',X_week_dummy]]).merge(articles_categories)
    y_achats=segment[['customer_id']].merge(transact_history[filtre_yweek][['customer_id','article_id',y_week_dummy]]).merge(articles_categories)
    
        
    #je fais un groupby par clients, sans le sort car j'ai ensuite besoin de refaire un tri par valeur de in104 derrière et j'ai 
    # a nouveau besoin de refaire le tri par client pour cela donc gain de teps de calcul car on suppose que sort_values est plus rapide que le 
    # sort de groupby
    achats_cat_srt=X_achats.groupby(['customer_id','garment_group_name'],as_index=False, sort=False).sum().sort_values(by=['customer_id',X_week_dummy],ascending=False)
   
    #je supprime les doublons pour garder que la catégorie max d'achats
    achats_cat_max=achats_cat_srt.drop_duplicates(subset=['customer_id'],inplace=False)
    
    #définition du Top12 par catégorie: à la valeur de garment j'associe la valeur TOP12 associée  
    #calcul du Top12 par catégorie stocké sou forme de dictionnaire
    achats_cat_art=y_achats.groupby(['garment_group_name','article_id'], as_index=False, sort=False).sum().sort_values(by=['garment_group_name', y_week_dummy], ascending=False)
    Top12_cat={}
    list=ohe.categories_[0]
    for cat in list:
        Top12=""
        mask=achats_cat_art['garment_group_name']==cat
        df=achats_cat_art[mask]
        Top12_arr=df['article_id'].head(12).values
        for article in Top12_arr:
            Top12=Top12+ " "+ str(article)
        Top12_cat[cat]= Top12.lstrip() 
 
   
    achats_cat_max.loc[:,'Baseline1']=achats_cat_max.loc[:,'garment_group_name'].apply(lambda c: Top12_cat[c])
    

    #*************** Calcul précision **************************************************************
    cust_baseline=achats_cat_max[['customer_id','Baseline1']]
    achats_et_baseline1=achats[['customer_id','article_id']].merge(cust_baseline1, on='customer_id')
     
    # si l'articleID acheté est dans la TOP12 (1 si oui, O sinon)
    achats_et_baseline1['inBaseline1']=achats_et_baseline1['article_id'].apply(lambda x: 1 if str(x) in achats_et_baseline1['Baseline1'] else 0)
    sortie=achats_et_baseline1.groupby(['customer_id']).sum().rename(columns={'inBaseline1':'Precision'})
 
    #segment_BS=segment.merge(Baseline0_precision, how = 'left', on='customer_id') 
    return achats_cat_max#cust_baseline1# achats_cat_max.head(10)#return segment #ici segment contient toutes ces colonnes passées en input

In [648]:
Baseline_plus(S1,transact_history,103,104)

/home/celfernandes/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages/pandas/core/indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value

,customer_id,garment_group_name,article_id,in103,0,1,2,3,4,5,...,12,13,14,15,16,17,18,19,20,Baseline1
601,fede72be6d8a2130624098f344c15f4d88a45d8b3cbbc9...,Accessories,896123001,1,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,552716001 759465001 673396002 885077003 639448...
101,feb01a2d17ca601bb4361099013b9010773778a3da3552...,Trousers,706016003,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,448509014 706016001 706016003 865799006 706016...
600,fe452b72e97790e68dcf79f49521782d486c345981f773...,Jersey Basic,487800051,1,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,685814003 682550002 456163086 715624052 715624...
151,fddef481e1e792752bb5b7243c1345cb0379a74c64722d...,Trousers,621381014,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,448509014 706016001 706016003 865799006 706016...
598,fd458cc672b5dbd88d7cd1e92bb289f1a5f20d12bcda61...,Swimwear,559633008,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,822946001 542464001 739590027 811835009 832330...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19,0285d6fbe7c6db42c94a540de427c4f24c30e863d4ca18...,Trousers,1791672006,2,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,448509014 706016001 706016003 865799006 706016...
18,026e36e2a2131e0bdeb78752d03c3caad8932f0e361a3a...,Dresses Ladies,832084003,1,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,870328003 903735003 862970001 909358002 927957...
15,017e589a1b5990b94288741a86252e14c1c361f3802827...,Accessories,639448001,1,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,552716001 759465001 673396002 885077003 639448...
9,0105f638a3d98cd1918028de84d296e2ec5f075d5ccf3b...,Jersey Basic,685813043,1,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,685814003 682550002 456163086 715624052 715624...
0,00953d607bb9b498cf020c314436b74c54876e1f03739a...,Jersey Basic,3225552023,4,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,685814003 682550002 456163086 715624052 715624...

### Calcul de la précision

### Création d'un dictionnaire de Top12 par catégorie d'articles (code déjà intégré en baseline+)

In [508]:
# création d'un dictionnaire de TOP12 par catégorie - Ok fonctionne mais il faut transformer en fonction

achats_cat_art=achats.groupby(['garment_group_name','article_id'], as_index=False, sort=False).sum().sort_values(by=['garment_group_name', 'in104'], ascending=False)

Top12_cat={}
list=ohe.categories_[0]
for cat in list:
    Top12=""
    mask=achats_cat_art['garment_group_name']==cat
    df=achats_cat_art[mask]
    Top12_arr=df['article_id'].head(12).values
    for article in Top12_arr:
        Top12=Top12+ " "+ str(article)
    Top12_cat[cat]= Top12.lstrip()

In [505]:
Top12_cat

{'Accessories': '552716001 759465001 673396002 885077003 639448001 942733001 884345003 516859008 933476001 731616001 759482001 833459002',
 'Blouses': '871517008 850917001 507909001 868874002 871517014 871710010 868874006 886557002 751592001 881577002 871517007 919391003',
 'Dressed': '568601006 920610005 827635001 568601044 785515002 832307007 898713001 781613006 568601030 568601007 898694001 728156006',
 'Dresses Ladies': '870328003 903735003 862970001 909358002 927957001 921090003 785787003 628722004 907121001 857812003 910494002 794454002',
 'Dresses/Skirts girls': '836162002',
 'Jersey Basic': '685814003 682550002 456163086 715624052 715624001 715624053 715624013 685813001 715624010 685814022 794575001 685814048',
 'Jersey Fancy': '730683050 852584001 918292001 738713029 918292011 892558004 874110001 874113005 874113026 911214001 738713035 907702002',
 'Knitwear': '797988002 873217004 863583002 916468001 673677002 873217001 913272003 767423013 874704002 863583001 902518003 902161004',
 'Outdoor': '829643003 877845002 868247001 829643005 868054004 829643001 802881001 884212003 878183001 868024001 867994001 650122001',
 'Shirts': '743840027 743840001 743840024 795836005 501619023 501619026 557908030 743840026 686564030 695324013 686564027',
 'Shoes': '916256001 877389001 827760001 905889001 622958003 864363001 727880026 470985003 900895001 809119001 901950002 799044001',
 'Shorts': '824337003 837741004 884405002 884405001',
 'Skirts': '877369001 729928025 882203002 842028004 869379005 869379011 869379001 904201001 925290006 918576001 777892010 904201002',
 'Socks and Tights': '783707109 156231001 783707096 932798001 372860001 226959008 372860002 930533001 160442010 727539001 742400042 742400033',
 'Special Offers': '931335001 909370001',
 'Swimwear': '822946001 542464001 739590027 811835009 832330004 879944002 838055003 879996001 865587001 742925003 205225001 566140035',
 'Trousers': '448509014 706016001 706016003 865799006 706016038 706016062 706016015 751471001 572998009 706016002 903420001 568597006',
 'Trousers Denim': '714790020 914441004 914441001 714790024 399256001 781135006 867966009 732842021 724906006 864224005 399256023 914441003',
 'Under-, Nightwear': '748355003 803468002 836142004 719655001 918725001 611415001 860797002 821397007 723469002 864415002 885951002 748355018',
 'Unknown': '935858001 933889001 935858002 935541001 833408001 780361004 844111001',
 'Woven/Jersey/Knitted mix Baby': ''}